@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    // TODO: [GH-#1] Update registration confirmation page
    <p>
        Please check your account confirmation link sent to your email.
    </p>
}
